body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4; /* Light background */
    color: #333; /* Dark text */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

body.dark-mode {
    background-color: #333; /* Dark background */
    color: #f4f4f4; /* Light text */
}

img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

#snippet {
    white-space: pre-wrap;
    margin-bottom: 20px;
    background-color: #ddd; /* Light snippet background */
    padding: 10px;
    border-radius: 5px;
}

body.dark-mode #snippet {
    background-color: #555; /* Dark snippet background */
    color: #eee;
}

#input {
    width: 100%;
    min-height: 150px;
    padding: 10px;
    font-family: monospace;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    white-space: pre-wrap;
}

body.dark-mode #input {
    border-color: #777;
    background-color: #444;
    color: #eee;
}

#results {
    margin-top: 20px;
}

.highlight {
    color: green;
}

.error {
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
}

footer{
    text-align: center;
    margin-top: 20px;
    color: #102f76;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, sans-serif;
}